body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --postsColorLight: rgb(253, 246, 178);
  --postsColorDark: rgb(142, 75, 16);
  --usersColorLight: rgb(225, 239, 254);
  --usersColorDark: rgb(26, 86, 219);
}
